.cart-page {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  flex-direction: column;
}
.CartItems {
  width: 80%;
  height: 20%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.CartItemImage {
  width: 30%;
}
.CartItem {
  display: flex;
  align-items: start;
  flex-direction: row;
  justify-content: center;
}
