.CheckOut {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.billingDetailes {
  display: flex;
  align-items: start;
  width: 90%;
  flex-direction: column;
  height: 90vh;
}
input,
input::placeholder {
  width: 40%;
  height: 6%;
  font-size: medium;
  padding-left: 3px;
}
input {
  border: 1px solid lightgray;
}
textarea {
  width: 40%;
  height: 10%;
  padding-left: 3px;
  padding-top: 3px;
  font-size: large;
  font-weight: 100;
}

h1 {
  margin-bottom: 2%;
  font-weight: 900;
}
label {
  margin-top: 1%;
}
